.activity {
  display: grid;
  grid-template-columns: auto 1fr;
  color: var(--ds-text, #172b4d);
  gap: 8px;

  .header {
    display: flex;
    align-items: center;
    gap: rem(4px);
  }

  .activity-title {
    font-weight: 700;
    text-transform: lowercase;
    font-size: rem(14px);
  }

  .activity-sub-title,
  .activity-date {
    font-size: rem(12px);
    color: var(--ds-text-subtle, #5e6c84);
    font-weight: 400;
  }
}
