.add-board-button .button.variant-text {
  background-color: var(--create-menu-button-background);
  color: var(--create-menu-button-color);
  border-radius: rem(3px);
  line-height: rem(32px);
  margin: 0 rem(4px) 0 0;
}
