.board-details-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: rem(12px) rem(10px) rem(12px) rem(16px);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: var(--board-header-background-color);

  & button {
    background-color: var(--dynamic-button);
    color: var(--dynamic-text);

    &:hover {
      background-color: var(--dynamic-button-hovered);
    }
  }

  .board-title-container {
    position: relative;

    .hide {
      display: none;
    }
  }

  .board-details-title {
    background: transparent;
    font-size: rem(18px);
    font-weight: bold;
    line-height: rem(32px);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    color: var(--dynamic-text);
    padding: 0 rem(10px);
  }

  input.board-details-title {
    color: var(--ds-text, #172b4d);
    background-color: var(--ds-background-input, #ffffff);
    border: 0;
    margin: 0;
    border-radius: rem(3px);
    box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff);
    height: auto;
    outline: none;
    height: rem(32px);
    line-height: rem(30px);
  }

  .board-topbar-end {
    display: grid;
    grid-auto-flow: column;
  }

  .board-topbar-start {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: rem(4px);

    .button.button.board-details-header-button {
      color: var(--dynamic-text, #fff);
      &.active {
        background-color: var(--dynamic-button-highlighted-hovered, #fff);
        color: var(--dynamic-button-highlighted-text, #172b4d);
        .svg-icon svg {
          color: var(--dynamic-button-highlighted-text, #172b4d);
        }
      }
    }
    .svg-icon {
      color: var(--dynamic-icon);
    }
  }

  .member-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;

    .member-item {
      display: flex;
      align-items: center;
      width: rem(28px);
      height: rem(28px);
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .divider {
    border-left: rem(1px) solid hsla(0, 0%, 100%, 0.16);
    height: rem(16px);
    margin: rem(8px) rem(4px);
  }

  .filter-btns-container {
    &.active {
      border-radius: rem(3px);
      overflow: auto;

      .button {
        background-color: var(--dynamic-button-highlighted);
        color: var(--dynamic-button-highlighted-text);
        border-radius: 0;

        &:hover {
          background: var(--dynamic-button-highlighted-hovered);
          color: var(--dynamic-button-highlighted-text);
        }
      }
    }

    .filter-btn {
      font-size: rem(14px);
      line-height: rem(20px);
    }

    .filter-count {
      border-radius: rem(20px);
      padding-right: rem(6px);
      padding-left: rem(4px);
      background-color: white;
      color: var(--ds-text, #172b4d);
      display: flex;
      align-items: center;
      gap: rem(6px);

      .countIcon {
        display: block;
        width: rem(12px);
        height: rem(12px);
        border-radius: 50%;
        background-color: var(--ds-icon-brand, #0c66e4);
      }
    }
  }
}
