.board-filter {
  width: rem(352px);
  max-height: calc(100vh - rem(170px));
  overflow: auto;

  .section-title {
    @include typography($type: "h3", $color: $color-text-subtle);
    margin-top: rem(16px);
    margin-bottom: rem(8px);
  }

  .input-text {
    box-shadow: inset 0 0 0 rem(1px) $background-neutral-hovered;
    &::placeholder {
      color: $color-txt-primary;
    }
  }

  .sub-txt {
    @include typography($type: "sub-txt");
    margin-top: rem(8px);
    margin-bottom: rem(4px);
  }
  .form-group {
    input {
      display: none;
    }

    label {
      position: relative;
      cursor: pointer;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 16px;
      padding: 8px;
      padding-right: 0;

      .filter-txt {
        @include typography($type: "txt", $color: $color-txt-primary);
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        gap: 8px;
      }

      .filter-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: $background-neutral;
        color: $color-text-subtle;

        &.overdue {
          background-color: $bg-danger;
          color: white;
        }

        &.due-soon {
          background-color: $bg-warning-bold;
          color: white;
        }
      }
    }

    .checkmark {
      position: relative;
      display: block;
      border-radius: rem(2px);
      height: rem(16px);
      width: rem(16px);
      overflow: hidden;
      white-space: nowrap;
      transition: all 0.2s ease-in-out;
      background-color: $input-background;
      box-shadow: inset 0 0 0 rem(1px) $border-input;
    }

    &:hover input ~ .checkmark {
      background-color: $input-hovered;
      box-shadow: inset 0 0 0 rem(1px) $border-input;
    }

    input:checked ~ .checkmark {
      background-color: $background-brand-bold;
      box-shadow: inset 0 0 0 rem(1px) $background-brand-bold;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: rem(6px);
      top: rem(2px);
      width: rem(4px);
      height: rem(8px);
      border: solid $input-background;
      border-width: 0 rem(1px) rem(1px) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
