.board-search-input {
  position: relative;
  margin-inline-start: auto;

  > .form-group {
    padding: rem(8px);
    border-radius: rem(8px);
    background-color: $clr1; //TODO change background
    display: flex;
    gap: rem(4px);
    align-items: center;
    color: $clr8;
    input {
      color: inherit;
      border: none;
      background-color: transparent;
      outline: none;
      &::placeholder {
        color: inherit;
      }
    }
  }
  .search-title {
    padding: rem(4px) rem(12px);
    font-size: rem(12px);
    font-weight: 500;
    text-transform: uppercase;
  }
  .search-options {
    padding-bottom: rem(8px);
    width: 100%;
    margin-top: rem(11px);
    left: 0;
    top: 100%;
    position: absolute;
    background-color: $clr8;
    display: grid;
    align-content: start;
    z-index: 9;
    border-radius: rem(4px);
    box-shadow: $box-shadow-overlay;
    .search-option {
      font-size: rem(14px);
      font-weight: 600;
      color: $color-txt-primary;
      border-radius: rem(4px);
      padding: rem(8px) rem(12px);
      line-height: rem(20px);
      display: grid;
      gap: rem(8px);
      text-align: left;
      grid-template-columns: auto 1fr;

      .thumbnail {
        border-radius: rem(2px);
        width: rem(24px);
        height: rem(20px);
      }

      &:hover {
        background-color: $background-neutral;
      }
    }
  }
}
