.board-search-input {
  position: relative;
  margin-inline-start: auto;

  > .form-group {
    padding: rem(8px);
    border-radius: rem(8px);
    background-color: black; //TODO change background
    display: flex;
    gap: rem(4px);
    align-items: center;
    color: white;
    border: 1px solid white;
    input {
      color: inherit;
      border: none;
      background-color: transparent;
      outline: none;
      &::placeholder {
        color: inherit;
      }
    }
  }
  .search-options {
    width: 100%;
    left: 0;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    display: grid;
    align-content: start;
    z-index: 9;
  }
}
