.boar-dashboard-view {
  height: 100%;
  width: 100%;
  position: relative;

  .dashboard-container {
    position: absolute;
    top: rem(16px);
    left: rem(16px);
    bottom: rem(16px);
    right: rem(16px);
  }

  .dashboard-wrapper {
    display: grid;
    padding: rem(16px);
    height: 100%;
    background: var(--ds-background-accent-gray-subtlest, #f1f2f4);
    border-radius: rem(8px);
  }

  .board-dashboard {
    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1000px));
    grid-auto-rows: minmax(500px, 0.5fr);
    grid-column-gap: var(--ds-space-400, 2rem);
    grid-row-gap: var(--ds-space-400, 2rem);
    overflow-y: auto;
    scrollbar-color: var(--ds-background-neutral-hovered, #091e4224) var(--ds-background-neutral, #091e420f);
    scrollbar-width: thin;
    padding: rem(8px);
  }

  .dashboard-card {
    position: relative;
    border-radius: rem(8px);
    background-color: var(--ds-surface-overlay, #ffffff);
    padding: rem(16px);
    display: flex;
    flex-direction: column;
    border-radius: rem(6px);
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);

    .dashboard-card-header {
      color: var(--ds-text, #172b4d);
      margin-bottom: rem(32px);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-weight: 500;
        font-size: rem(16px);
        line-height: rem(20px);
        margin: 0 rem(8px);
      }
    }

    .recharts-wrapper {
      width: 100%;
      height: 100%;
      max-height: rem(404px);
      max-width: rem(589px);
    }
  }

  .recharts-legend-wrapper {
    position: absolute;
    width: auto;
    height: 100%;
    right: rem(5px);
    bottom: rem(5px);
    min-width: 20%;
    max-width: 25%;
    margin-right: 3%;

    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      margin-right: unset;
    }

    ul {
      height: 100%;
    }

    .legend-color {
      border-radius: rem(2px);
      display: inline-block;
      width: rem(10px);
      height: rem(10px);
      margin-right: rem(16px);
    }
  }

  .due-date-tooltip {
    // TODO replace color with root variables
    background-color: #fff;
    border: 1px solid #ccc;
    padding: rem(10px);
    .title {
      font-size: rem(16px);
      font-weight: 500px;
    }
    span {
      font-size: rem(12px);
    }
  }

  .dashboard-card.empty-card {
    main {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-style: italic;
      color: var(--ds-text-subtle, #44546f);
      position: relative;
      text-align: center;
    }

    img {
      width: 70%;
      max-width: rem(235px);
    }
  }

  @media (max-width: 1400px) {
    .board-dashboard {
      grid-template-columns: minmax(0, 1000px);
    }
  }
}
