.board-menu {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--ds-text, #172b4d);
  background-color: var(--ds-surface-overlay, #fff);
  box-shadow: var(--ds-shadow-overlay, 0 8px 12px #091e4226, 0 0 1px #091e424f);
  transform: translateX(100%);
  transition: transform 0.1s ease-in;
  width: rem(339px);
  height: 100%;
  z-index: 5;

  .board-menu-header {
    button {
      position: absolute;
      right: rem(12px);
      top: rem(12px);
      border-radius: rem(8px);
      color: var(--ds-icon, #44546f);

      &:hover {
        background-color: var(
          --ds-background-neutral-subtle-hovered,
          #091e420f
        );
      }
    }
  }

  &.open {
    transform: translateX(0);
  }
}
