.board-details-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: rem(12px) rem(10px) rem(12px) rem(16px);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: var(--board-header-background-color);

  .board-details-title {
    background: transparent;
    font-size: rem(18px);
    font-weight: bold;
    line-height: rem(32px);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    color: var(--dynamic-text);
    padding: 0 rem(10px);
  }

  .board-topbar-end {
    display: grid;
    grid-auto-flow: column;
  }

  .board-topbar-start {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: rem(4px);
    .svg-icon {
      color: var(--dynamic-icon);
    }
  }

  .member-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;

    .member-item {
      display: flex;
      align-items: center;
      width: rem(28px);
      height: rem(28px);
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .divider {
    border-left: rem(1px) solid hsla(0, 0%, 100%, 0.16);
    height: rem(16px);
    margin: rem(8px) rem(4px);
  }

  .filter-btns-container {
    &.active {
      border-radius: rem(3px);
      overflow: auto;

      .button {
        background-color: $background-accent-gray-subtle;
        color: $color-txt-primary;
        border-radius: 0;

        &:hover {
          background-color: white;
        }
      }
    }

    .filter-btn {
      font-size: rem(14px);
      line-height: rem(20px);
    }

    .filter-count {
      border-radius: rem(20px);
      padding-right: rem(6px);
      padding-left: rem(4px);
      background-color: white;
      color: $color-txt-primary;
      display: flex;
      align-items: center;
      gap: rem(6px);

      .countIcon {
        display: block;
        width: rem(12px);
        height: rem(12px);
        border-radius: 50%;
        background-color: $background-brand-bold;
      }
    }
  }
}
