.board-list {
  padding: 0;
  margin: 11px 0 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(16px);
  row-gap: rem(32px);

  .board-item {
    height: rem(96px);
    max-width: rem(193.87px);
    position: relative;
    overflow: hidden;
    border-radius: rem(3px);
    width: 100%;

    .board-actions {
      position: absolute;
      color: var(--tr-icon-star);
      line-height: 20px;
      transition: all 0.15s ease-in;

      &.unstarred-board {
        bottom: em(10px);
        right: em(-27px);
        color: var(--ds-icon-inverse, #ffffff);
      }

      &.starred-board {
        bottom: em(10px);
        right: em(9px);
      }
    }

    &:hover {
      .board-actions {
        bottom: em(10px);
        right: em(9px);
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
