.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rem(1px) solid var(--dynamic-text-transparent);
  padding: em(8px);
  height: $board-header-height;
  background-color: var(--dynamic-background, #0c66e4);
  width: 100vw;
  .buttons-list {
    display: grid;
    gap: rem(12px);
    grid-auto-flow: column;
    align-items: center;
    color: var(--dynamic-text);

    .add-board-button .button {
      height: rem(32px);
    }
  }

  .select-starred-boards-button .button,
  .add-board-button .button,
  .board-header-search-button {
    color: var(--dynamic-text);
  }
  .add-board-button .button.variant-primary {
    color: var(--ds-text-inverse);
    padding: 0 rem(12px);
  }

  .logo-btn {
    border-radius: rem(3px);

    &:hover {
      background-color: var(--dynamic-button-hovered, rgba(255, 255, 255, 0.3));
    }
  }

  .logo {
    width: 75px;
    height: 16px;
    margin: 8px;
    position: relative;

    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      opacity: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(/public/trello-full-logo.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      filter: var(--logo-filter);
    }

    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(/public/trello-full-logo-gif.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      filter: var(--logo-filter);
    }
  }

  .pref {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(4px);

    .profile-pref-button,
    .notification-bell {
      width: rem(32px);
      height: rem(32px);

      button {
        padding: rem(4px);
      }
    }
  }
  .notification-bell {
    .button {
      position: relative;
    }

    .notification {
      position: absolute;
      width: rem(12px);
      height: rem(12px);
      border-radius: 50%;
      background-color: var(--ds-icon-accent-red, #c9372c);
      top: rem(8px);
      right: rem(8px);
    }
  }

  @media (max-width: 768px) {
    .select-starred-boards-button {
      display: none;
    }
  }
}
