.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rem(1px) solid var(--dynamic-text-transparent);
  padding: em(8px);
  height: $board-header-height;
  background-color: var(--dynamic-background, #0c66e4);
  .buttons-list {
    display: grid;
    gap: rem(12px);
    grid-auto-flow: column;
    align-items: center;
    color: var(--dynamic-text);

    .add-board-button .button {
      height: rem(32px);
    }
  }

  .select-starred-boards-button .button,
  .add-board-button .button {
    color: var(--dynamic-text);
  }
  .add-board-button .button.variant-primary {
    color: var(--ds-text-inverse);
  }

  .pref {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .notification {
    position: absolute;
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    background-color: var(--ds-icon-brand, #0c66e4);
  }
}
