.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rem(1px) solid var(--dynamic-text-transparent);
  padding: em(8px);
  height: $board-header-height;
  background-color: var(--dynamic-background, #0c66e4);

  .buttons-list {
    display: grid;
    gap: rem(12px);
    grid-auto-flow: column;
    align-items: center;
    .add-board-button .button {
      height: rem(32px);
    }
  }

  .pref {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
