.board-filter {
  width: rem(372px);
  max-height: calc(100vh - rem(170px));
  overflow: auto;
  margin-right: -12px;
  padding-right: 12px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ds-background-accent-gray-subtle, #dcdfe4);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track-piece {
    background: var(--ds-background-neutral, #091e420f);
  }

  .section-title {
    @include typography($type: "h3", $color: var(--ds-text-subtle, #44546f));
    margin-top: rem(16px);
    margin-bottom: rem(8px);
  }

  .input-text {
    &::placeholder {
      color: var(--ds-text, #172b4d);
    }
  }

  .sub-txt {
    @include typography($type: "sub-txt");
    margin-top: rem(8px);
    margin-bottom: rem(4px);
  }
  .form-group {
    input {
      display: none;
    }

    label {
      position: relative;
      cursor: pointer;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 16px;
      padding: 8px;
      padding-right: 0;

      .filter-txt {
        @include typography($type: "txt", $color: var(--ds-text, #172b4d));
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        gap: 8px;
      }

      .filter-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: var(--ds-background-neutral, #091e420f);
        color: var(--ds-text-subtle, #44546f);

        &.overdue {
          background-color: var(--ds-background-danger-bold, #ca3521);
          color: var(--ds-icon-inverse, #ffffff);
        }

        &.due-soon {
          background-color: var(--ds-background-warning-bold, #f5cd47);
          color: var(--ds-icon-inverse, #ffffff);
        }
      }
    }

    .checkmark {
      position: relative;
      display: block;
      border-radius: rem(2px);
      height: rem(16px);
      width: rem(16px);
      overflow: hidden;
      white-space: nowrap;
      transition: all 0.2s ease-in-out;
      background-color: var(--ds-background-input, #ffffff);
      box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);
    }

    &:hover input ~ .checkmark {
      background-color: var(--ds-background-input-hovered, #f7f8f9);
      box-shadow: inset 0 0 0 rem(1px) var(--ds-border-input, #091e4224);
    }

    input:checked ~ .checkmark {
      background-color: var(--ds-background-selected-bold, #0c66e4);
      box-shadow: inset 0 0 0 rem(1px) var(--ds-border-selected, #0c66e4);
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: rem(6px);
      top: rem(2px);
      width: rem(4px);
      height: rem(8px);
      border: solid var(--ds-icon-inverse, #ffffff);
      border-width: 0 rem(1px) rem(1px) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .task-label-list {
    max-height: 300px;
    overflow: auto;
  }
}
