.button {
  @include btn;
  color: var(--ds-text, #172b4d);
  padding: rem(8px);
  gap: rem(6px);
  font-weight: 500;
  justify-content: flex-start;
  background-color: transparent;
  border-radius: rem(3px);

  &:hover {
    background-color: var(--ds-background-neutral-hovered, #091e4224);
  }
  &:active {
    background-color: var(--ds-background-neutral-pressed, #091e424f);
  }

  &.shape-circle {
    border-radius: 50%;
  }

  &.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: rem(32px);
    height: rem(32px);
  }

  &.variant-link {
    background-color: transparent;
    text-decoration: underline;
    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  &.variant-primary {
    color: var(--ds-text-inverse, #fff);
    background-color: var(--ds-background-brand-bold, #0c66e4);
    &:hover {
      background-color: var(--ds-background-brand-bold-hovered, #05c);
    }
    &:active {
      background-color: var(--ds-background-brand-bold-pressed, #09326c);
    }
  }

  &.variant-contained {
    background-color: var(--ds-background-neutral, #091e420f);
    &:hover {
      background-color: var(--ds-background-neutral-hovered, #091e4224);
    }
    &:active {
      background-color: var(--ds-background-neutral-pressed, #091e424f);
    }
  }

  &:disabled {
    background-color: var(--ds-background-disabled, #091e4208);
    color: var(--ds-text-disabled, #091e424f);
    cursor: not-allowed;
  }
}
