.button {
  @include btn;
  color: $color-txt-primary;
  padding: rem(8px);
  gap: rem(6px);
  font-weight: 500;
  justify-content: flex-start;
  background-color: transparent;

  &.shape-circle {
    border-radius: 50%;
  }

  &.variant-contained {
    background-color: $background-neutral;
  }

  &.variant-primary {
    color: $clr8;
    border-radius: rem(3px);
    background-color: $background-brand-bold;
    &:hover {
      background-color: $background-brand-bold-hovered;
    }
    &:active {
      background-color: $background-brand-bold-pressed;
    }
  }

  &.variant-group {
    &:hover {
      background-color: $group-background;
    }
    &:active {
      background-color: $background-accent-gray-subtle;
    }
  }

  &:hover {
    background-color: $background-neutral-hovered;
  }
  &:active {
    background-color: $background-neutral-pressed;
  }
}
