.dynamic-task-popover {
  .popover-header {
    display: flex;
    font-size: rem(14px);
    font-weight: 600;
    padding: rem(4px) rem(8px);
    height: rem(40px);
    justify-content: space-between;
    align-items: center;
    color: var(--ds-text-subtle, #44546f);
    .popover-title {
      margin: 0 auto;
    }
  }
}
