.dynamic-task-popover {
  background-color: $clr8;
  padding: 8px;
  min-width: 304px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  box-shadow: $shadow-overlay;

  .popover-header {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    color: $color-text-subtle;
    .popover-title {
      margin: 0 auto;
    }
  }
}
