.group-list {
  top: rem(-2px);
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: rem(8px);
  padding-bottom: rem(8px);
  padding-right: rem(8px);
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  scrollbar-color: #fff6 #00000026;
  scrollbar-width: auto;

  .group-li {
    padding: 0 rem(6px);

    &[data-rbd-draggable-context-id] {
      cursor: auto;
    }

    &.dragging .group-preview {
      transform: rotate(5deg);
      opacity: 0.5;
    }
  }

  .group-preview {
    background-color: $group-background;
    box-shadow: $group-shadow;
    color: $color-txt-primary;
    border-radius: rem(12px);
    min-width: rem(272px);
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    flex-direction: column;
    position: relative;
    scroll-margin: rem(8px);
    width: rem(272px);

    .group-header {
      padding: rem(8px);
    }

    .add-task-btn {
      gap: rem(8px);
      font-size: (14px);
      width: 100%;
    }

    .group-title-container {
      position: relative;
      width: -webkit-fill-available;

      .group-title {
        @include typography($type: "h2");
        padding: rem(6px) rem(8px) rem(6px) rem(12px);
        white-space: normal;
        border-radius: rem(8px);
        height: rem(32px);
        cursor: pointer;
        position: absolute;
        width: 100%;
      }

      .group-title.hide {
        z-index: -1;
      }
    }

    .group-footer {
      padding: rem(8px);

      textarea {
        @include typography("txt");
        height: rem(56px);
        padding: rem(8px) rem(12px);
        outline: none;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .add-group-btn {
    @include btn(
      $bg-color: #ffffff3d,
      $width: $group-width,
      $borderRadius: rem(12px),
      $padding: rem(12px)
    );
    @include typography($type: "h2");
    font-weight: 500;
    color: $color-txt-primary;
    height: fit-content;
    min-width: $group-width;
    &:hover {
      background-color: $background-neutral-hovered;
    }
  }
}
