.group-list {
  height: 100%;
  flex-wrap: nowrap;

  .group-li {
    height: 100%;
    padding: 0 rem(6px);
  }

  .group-preview {
    background-color: $group-background;
    box-shadow: $group-shadow;
    color: $color-txt-primary;
    border-radius: rem(12px);
    min-width: rem(272px);
    width: rem(272px);
    padding: rem(8px);
    position: relative;
    height: min-content;

    .button {
      border-radius: rem(8px);
    }
    .group-header {
      height: rem(32px);
    }

    .add-task-btn {
      gap: rem(8px);
      font-size: (14px);
      width: 100%;
    }

    .group-title {
      @include typography($type: "h2");
      padding: rem(6px) rem(8px) rem(6px) rem(12px);
      white-space: normal;
      border-radius: rem(8px);
      color: $color-txt-primary;
      cursor: pointer;
    }

    .group-actions {
      padding: 0;
      top: rem(40px);
      left: unset;
      right: 0;
      transform: translateX(calc(100% - rem(32px)));

      .popover-header {
        padding: rem(8px);
      }
    }
  }

  .add-group-btn {
    @include btn(
      $bg-color: #ffffff3d,
      $width: $group-width,
      $borderRadius: rem(12px),
      $padding: rem(12px)
    );
    @include typography($type: "h2");
    font-weight: 500;
    color: $color-txt-primary;
    height: fit-content;

    &:hover {
      background-color: $background-neutral-hovered;
    }
  }

  .delete-group-btn {
    @include btn(
      $bg-color: transparent,
      $width: 100%,
      $padding: rem(6px) rem(12px)
    );
    @include typography($type: "txt");
    color: $color-txt-primary;

    &:hover {
      background-color: $background-neutral-hovered;
    }
  }
}
