.modal-container {
  box-shadow: 0px 0px 0 100vw rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  height: -webkit-fill-available;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
