.popover {
  .MuiPopover-paper {
    box-shadow: $shadow-overlay;
    border-radius: rem(8px);
  }
  .popover-content {
    background-color: $clr8;
    padding: 0 rem(12px) rem(12px);
    min-width: rem(304px);

    .group-actions-list {
      margin: 0 -12px;
      li > button {
        @include btn(
          $bg-color: transparent,
          $width: 100%,
          $padding: rem(6px) rem(12px)
        );
        @include typography($type: "txt");
        color: $color-txt-primary;

        &:hover {
          background-color: $background-neutral-hovered;
        }
      }
    }
  }
  .popover-header {
    display: flex;
    font-size: rem(14px);
    padding: rem(4px) rem(8px);
    font-weight: 600;
    height: rem(40px);
    justify-content: space-between;
    align-items: center;
    color: $color-text-subtle;
    .popover-title {
      margin: 0 auto;
    }
    .popover-close .button {
      border-radius: rem(8px);
    }
  }
}
