.popover {
  box-shadow: $shadow-overlay;
  .popover-content {
    background-color: $clr8;
    padding: 0 rem(12px) rem(12px);
    min-width: rem(304px);
    border-radius: rem(8px);
  }
  .popover-header {
    display: flex;
    font-size: rem(14px);
    font-weight: 600;
    height: rem(40px);
    justify-content: space-between;
    align-items: center;
    color: $color-text-subtle;
    .popover-title {
      margin: 0 auto;
    }
  }
}
