.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  @include size(16px);

  &.svg-icon-size-sm {
    @include size(20px);
  }

  &.svg-icon-size-md {
    @include size(24px);
  }

  &.svg-icon-size-lg {
    @include size(32px);
  }

  &.svg-icon-size-full {
    height: 100%;
    width: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
