.task-details-header {
  padding: rem(8px) rem(32px) rem(8px) rem(16px);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  align-items: center;
  .task-title {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}
