.task-popover-label {
  > .button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 12px;
  }
  .task-label-list {
    display: grid;
    width: 100%;
    gap: 8px;
    max-height: rem(400px);
    overflow: overlay;

    li {
      display: grid;
      gap: 4px;
      grid-template-columns: auto 1fr auto;
    }
  }
}
