.task-details-main-header {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8px);
  margin-inline-start: rem(40px);
  .labels-list {
    display: flex;
    gap: rem(4px);

    .button {
      &.label-list-button {
        min-width: rem(48px);
      }
      min-width: rem(32px);
      min-height: rem(32px);
    }
    .main-header-card-due-date-button {
      white-space: nowrap;
    }
  }

  .main-header-card {
    position: relative;

    > *.flex {
      gap: rem(4px);
    }

    h4 {
      margin-bottom: rem(4px);
    }

    & > .button {
      font-size: rem(14px);
      line-height: rem(20px);
      font-weight: 500;
    }
    .member-img {
      width: rem(30px);
      height: rem(30px);
    }
    .due-date-badge {
      display: inline-block;
      color: var(--ds-text-inverse, #ffffff);
      background-color: var(--ds-background-success-bold, #1f845a);
      font-size: rem(12px);
      line-height: rem(16px);
      padding: 0 rem(4px);
      border-radius: rem(2px);
    }

    .due-date-badge {
      display: inline-block;
      font-size: rem(12px);
      line-height: rem(16px);
      padding: 0 rem(4px);
      border-radius: rem(2px);

      &.due-date-status-completed {
        color: var(--ds-text-inverse, #ffffff);
        background-color: var(--ds-background-success-bold, #1f845a);
      }

      &.due-date-status-past-overdue {
        background-color: var(--ds-background-danger-bold, #ca3521);
        color: var(--ds-text-inverse, #ffffff);
      }

      &.due-date-status-overdue-recently {
        color: var(--ds-text-danger, #ae2a19);
        background-color: var(--ds-background-danger, #ffedeb);
      }
      &.due-date-status-due-soon {
        background-color: var(--ds-background-warning-bold, #f5cd47);
        color: var(--ds-icon-inverse, #ffffff);
      }
    }
  }
}
