.task-details-attachments {
  display: grid;
  .attachment-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-top: 16px;
    .thumbnail {
      border-radius: 3px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 3px;
      height: 80px;
      width: 112px;
    }
  }
}
