.task-details-checklist-sub-items {
  .checklist-progress-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: rem(8px);
    .progress-bar {
      transition: width 0.3s ease-in;
      height: rem(8px);
      border-radius: rem(4px);
      background: var(--ds-background-neutral, #091e420f);
      width: 100%;

      .progress-bar-complete {
        border-radius: rem(4px);
        height: 100%;
        background-color: var(--ds-background-accent-blue-subtle, #579dff);
      }
    }
    .checklist-progress-percentage {
      font-size: rem(11px);
    }
  }

  .task-details-checklist-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    cursor: pointer;
    gap: rem(8px);

    &.dragging {
      cursor: grabbing;
      .preview {
        opacity: 0.85;
        background-color: $background-neutral;
      }
    }

    input[type="checkbox"] {
      @include size(16px);
    }

    .preview {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto;
      padding: rem(6px) rem(8px);
      border-radius: rem(12px);
      word-break: break-word;
      font-size: rem(14px);

      &:hover {
        background-color: $background-neutral;
        .checklist-item-controls {
          visibility: visible;
        }
      }
      .checklist-item-controls {
        visibility: hidden;
        .button {
          display: flex;
          justify-content: center;
          padding: rem(4px);
          width: rem(20px);
          height: rem(20px);
        }
      }
    }
  }

  .add-todo-item {
    margin: rem(12px) 0 0 rem(40px);

    .button {
      padding: rem(6px) rem(12px);
    }
  }

  .task-detail-todo-form {
    margin-inline-start: rem(40px);
    margin-top: rem(12px);
    .actions {
      display: flex;
      gap: rem(4px);
      margin-top: rem(8px);
    }
  }
}
