.task-details-main {
  padding: 0 rem(8px) rem(8px) rem(16px);
  display: grid;
  gap: rem(32px);
  align-content: start;

  .task-detail-header-section {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: rem(32px);
    gap: rem(8px);
    align-items: center;
    margin-bottom: rem(16px);
    h3 {
      font-weight: 600;
      font-size: rem(16px);
      line-height: rem(20px);
    }
  }
}
