.task-list {
  gap: 8px;
  padding: 8px 0;

  .task-preview {
    background-color: $task-background;
    border-radius: 8px;
    box-shadow: $task-shadow;
    color: $color-txt-primary;
    min-height: 36px;
    width: 100%;
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: em(14px);
    font-weight: 400;
    line-height: em(20px);
    position: relative;
    cursor: pointer;

    &:hover {
      outline-color: $border-focused;
      outline-color: -webkit-focus-ring-color;
      outline-style: solid;
      outline-width: 2px;
    }

    &:hover .task-edit-btn {
      display: block;
    }

    .task-cover {
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .task-preview-main {
      display: grid;
      row-gap: 4px;
      padding: 8px 12px;
    }
    .task-members {
      display: flex;
      gap: 4px;

      .task-member {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .task-edit-btn {
      display: none;
      position: absolute;
      top: 2px;
      right: 2px;
      background-color: $task-background;

      &:hover {
        background-color: $group-background;
      }
    }

    .task-actions-badges {
      flex-wrap: wrap;
      float: left;
      column-gap: 4px;
      max-width: 100%;
    }

    .task-actions-badges {
      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 3px;
        padding: 2px;
        margin-bottom: 4px;
        width: -moz-fit-content;
        width: fit-content;
        max-width: 100%;
        height: 24px;
        color: $color-text-subtle;
        font-size: 12px;
        box-sizing: border-box;
      }

      .action-badge > span {
        padding-right: 4px;
        padding-left: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .action-badge.due-soon {
        background-color: $bg-warning;
      }

      .action-badge.recently-overdue {
        background-color: $bg-danger;
        color: white;
      }

      .action-badge.past-overdue {
        background-color: $bg-accent-red;
        color: $txt-accent-red;
      }

      .action-badge.complete {
        background-color: $bg-success;
        color: white;
      }
    }

    .task-labels {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
    }

    .task-labels .task-label {
      min-height: 8px;
      transition: 0.1s ease-in, height 0.1s ease-in 0.15s;
      display: inline-block;
      border-radius: 4px;
      line-height: 16px;
      font-size: 12px;
      font-weight: 500;
      text-align: left;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.expand {
        min-width: 56px;
        max-width: 100%;
        height: 16px;
        padding: 0 8px;
      }
      &.collapsed {
        min-width: 40px;
        max-width: 40px;
        height: 8px;
        color: transparent;
      }
    }
  }
}
