.task-details-attachments {
  display: grid;
  .attachment-list {
    display: grid;
    margin-inline-start: rem(40px);
    gap: rem(8px);
  }
  .attachment-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: rem(8px);
    padding: rem(8px) rem(8px) rem(8px) 0;
    cursor: pointer;

    &:hover {
      background-color: var(--ds-background-neutral, #091e420f);
      border-radius: rem(3px);
    }

    .thumbnail {
      border-radius: rem(3px);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height: rem(80px);
      width: rem(112px);
    }

    .attachment-details {
      > a {
        font-size: rem(14px);
        line-height: rem(20px);
        font-weight: 700;
        text-wrap: wrap;
        word-wrap: break-word;
        color: var(--ds-text, #172b4d);
      }
      .actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(4px);
        & > span {
          display: block;
          font-size: rem(14px);
          font-weight: 400;
          line-height: rem(20px);
          color: var(--ds-text-subtle, #44546f);
        }

        .button {
          font-size: rem(14px);
          color: var(--ds-text-subtle, #44546f);
          font-weight: 400;
          line-height: rem(20px);
          padding: 0;
          text-decoration: none;
          gap: rem(4px);
          &::before {
            content: "•";
            text-decoration: none;
          }
          span {
            text-decoration: underline;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
