* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr1;
  color: $clr6;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", fantasy;

  line-height: 1.6;
  color: $clr2;
}

body {
  font-size: rem(16px);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.main-app {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
