// Font Sizes
.fs12 {
  font-size: rem(12px);
}
.fs14 {
  font-size: rem(14px);
}
.fs18 {
  font-size: rem(18px);
}
.fs20 {
  font-size: rem(20px);
}
.fs24 {
  font-size: rem(24px);
}
.fs28 {
  font-size: rem(28px);
}
.fs30 {
  font-size: rem(30px);
}

// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clean-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

// Typography
.h3 {
  color: $color-txt-primary;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.006em;
  line-height: 20px;
}

.h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.label,
.legend {
  color: $color-text-subtle;
  display: block;
  font-size: rem(12px);
  font-weight: 700;
  line-height: rem(16px);
  margin-bottom: rem(4px);
  margin-top: rem(12px);
}

// Form
.input-text {
  outline: none;
  border: none;
  font-size: rem(14px);
  line-height: rem(20px);
  font-weight: 400;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  border-radius: rem(3px);
  padding: rem(8px) rem(12px);
  box-shadow: inset 0 0 0 rem(2px) $background-neutral-hovered;
  background-color: $clr8;
  width: 100%;
  margin-bottom: 0;
  &:hover {
    background-color: $input-hovered;
    box-shadow: inset 0 0 0 rem(2px) $border-input;
  }
  &:focus {
    background-color: $clr8;
    box-shadow: inset 0 0 0 rem(2px) $border-focused;
  }
  &.danger {
    box-shadow: inset 0 0 0 rem(2px) $border-danger;
  }
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}

.bg-image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.w-100 {
  width: 100%;
}
