.board-details-container {
  display: grid;
  grid-template-columns: rem(260px) 1fr;
  height: 100%;

  .board-sidebar {
    backdrop-filter: blur(6px);
    background-color: var(
      --dynamic-background-transparent,
      var(--ds-surface, #ffffff)
    );
    color: white;
    border-right: 1px solid hsla(0, 0%, 100%, 0.16);
  }

  .board-main-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .board-groups-container {
    margin-top: rem(14px);
    position: relative;
  }
}
