.board-details-container {
  // display: grid;
  // grid-template-columns: rem(260px) 1fr;
  display: flex;
  height: 100%;

  .board-main-content {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .board-groups-container {
    margin-top: rem(14px);
    position: relative;
  }
}
