.board-index {
  margin-top: rem(43px);
  padding-inline-start: rem(16px);
  .board-list-header {
    color: $color-txt-primary;
    font-weight: bold;
    display: flex;
    gap: rem(12px);
  }

  .all-boards {
    margin-top: rem(55px);
  }

  .add-board-button button {
    width: 100%;
    height: 100%;
    font-weight: 400;
    justify-content: center;
  }
}
