$task-detail-main-width: rem(552px);

.task-details-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: rem(48px) rem(8px);
  z-index: 99;

  overflow-y: auto;
  height: 100dvh;
  .task-detail-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 768px);
    height: 100%;
    position: relative;

    .task-details {
      border: none;
      color: $color-txt-primary;
      grid-column: 1/-1;
      & > * {
        background-color: $group-background;
      }
      .task-details-main-container {
        border-bottom-left-radius: rem(8px);
        border-bottom-right-radius: rem(8px);
        display: grid;
        grid-template-columns: rem(552px) rem(216px);
      }

      .task-details-description {
        p {
          cursor: pointer;
          margin: 0;
        }

        main {
          margin-inline-start: rem(40px);
          display: grid;
          & > .button {
            display: flex;
            align-items: baseline;
            height: rem(60px);
            flex: 1;
            padding: rem(8px) rem(12px);
          }

          > pre {
            cursor: pointer;
          }

          .task-detail-description-edit {
            pre {
              min-height: rem(275px);
            }
            .actions {
              display: flex;
              gap: rem(6px);
              margin-top: rem(8px);

              .button {
                height: rem(32px);
                padding: rem(6px) rem(12px);
              }
            }
          }
        }
      }
    }
  }
}
