.task-details-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 48px 0;
  z-index: 99;

  overflow-y: auto;
  height: 100dvh;
  .task-detail-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 768px);
    height: 100%;
    position: relative;

    .task-details {
      grid-column: 1/-1;
      & > * {
        background-color: $group-background;
      }
      .task-details-main-container {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      border: none;
      color: $color-txt-primary;
      .task-cover {
        min-height: 78px;
      }
    }
  }
}
