@font-face {
  font-family: Roboto;
  src: url(../../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: charlie-display;
  src: url(../../fonts/charlie/charlie-display.ttf);
}

@font-face {
  font-family: trellicons;
  src: url(../../fonts/trellicons.dd0e4c2f.ttf) format("truetype");
}
