// Colors

$color-txt-primary: #172b4d;
$color-text-subtle: #44546f;
$color-text-subtlest: #626f86;
$color-text-disabled: #091e424f;
$group-background: #f1f2f4;
$task-background: #ffffff;
$input-background: #ffffff;
$input-hovered: #f7f8f9;
$border-focused: #388bff;
$border-input: #091e4224;
$border-danger: #e34935;
$background-danger: #ffedeb;
$background-danger-bold: #ca3521;
$background-neutral-hovered: #091e4224;
$background-neutral-hovered-solid: #d4d8dd;
$background-neutral-pressed: #091e424f;
$background-neutral: #091e420f;
$background-accent-gray-subtle: #dcdfe4;
$progress-bar-background: #e4e6ea;
$progress-bar-current-background: #579dff;
$background-brand-bold: #0c66e4;
$background-brand-bold-hovered: #0055cc;
$background-brand-bold-pressed: #09326c;
$background-disabled: #091e4208;
$background-button-hovered: #a6c5e229;
$bg-warning: #e2b203;
$bg-warning-bold: #f5cd47;
$bg-danger: #c9372c;
$bg-accent-red: #ffd2cc;
$bg-success: #1f845a;
$txt-accent-red: #ae2a19;
$icon-star-color: #e2b203;
$dynamic-nav-button-background-color-hovered: hsla(0, 0%, 100%, 0.16);
$dynamic-nav-button-background-color-pressed: hsla(0, 0%, 100%, 0.3);
$box-shadow-overlay: rem(0px) rem(8px) rem(12px) #091e4226,
  rem(0px) rem(0px) rem(1px) #091e424f;

$clr8: #ffffff;

:root {
  // Dynamic colors
  --dynamic-background: "";
  --dynamic-background-transparent: "";

  --background-color: rgba(255, 255, 255, 0.2);

  --ds-background-accent-gray-subtler: #dcdfe4;
  --ds-background-accent-gray-subtler-hovered: #b3b9c4;
  --ds-background-accent-gray-subtler-pressed: #8590a2;
  --ds-background-accent-gray-subtle: #8590a2;
  --ds-background-accent-gray-subtle-hovered: #b3b9c4;
  --ds-background-accent-gray-subtle-pressed: #dcdfe4;
  --ds-background-accent-gray-bolder: #626f86;
  --ds-background-accent-gray-bolder-hovered: #44546f;
  --ds-background-accent-gray-bolder-pressed: #2c3e5d;
  --ds-background-accent-red-subtler: #ffd5d2;
  --ds-background-input: #ffffff;
  --ds-background-input-hovered: #f7f8f9;
  --ds-background-input-pressed: #ffffff;
  --ds-background-selected: #e9f2ff;

  --ds-border-brand: #0c66e4;
  --ds-border-input: #8590a2;
  --ds-border-inverse: #ffffff;
  --ds-border-selected: #0c66e4;

  --ds-surface: #ffffff;
  --ds-surface-hovered: #f1f2f4;
  --ds-surface-pressed: #dcdfe4;
  --ds-surface-overlay: #ffffff;
  --ds-surface-overlay-hovered: #f1f2f4;
  --ds-surface-overlay-pressed: #dcdfe4;
  --ds-surface-raised: #ffffff;
  --ds-surface-raised-hovered: #f1f2f4;
  --ds-surface-raised-pressed: #dcdfe4;

  --ds-text: #172b4d;
  --ds-text-accent-gray: #44546f;
  --ds-text-accent-gray-bolder: #091e42;
  --ds-text-accent-red: #ae2e24;
  --ds-text-brand: #0c66e4;
  --ds-text-inverse: #ffffff;
  --ds-text-selected: #0c66e4;

  --tr-background-list: #f1f2f4;
  --tr-icon-star: #e2b203;
}

[data-theme="light"] {
  --dynamic-button: transparent;
  --dynamic-button-hovered: #a6c5e229;
  --dynamic-button-pressed: #bfdbf847;
  --dynamic-button-highlighted: #dcdfe4;
  --dynamic-button-highlighted-text: #172b4d;
  --dynamic-button-highlighted-hovered: #ffffff;
  --dynamic-nav-item: transparent;
  --dynamic-nav-item-hovered: #a1bdd914;
  --dynamic-nav-item-pressed: #a6c5e229;
  --dynamic-icon: #ffffff;
  --dynamic-text: #ffffff;
  --dynamic-text-transparent: hsla(0, 0%, 100%, 0.16);
  --board-header-background-color: #0000003d;
}

[data-theme="dark"] {
  --dynamic-button: transparent;
  --dynamic-button-hovered: #091e4224;
  --dynamic-button-pressed: #091e424f;
  --dynamic-button-highlighted: rgba(0, 0, 0, 0.5);
  --dynamic-button-highlighted-text: #ffffff;
  --dynamic-button-highlighted-hovered: rgba(0, 0, 0, 0.6);
  --dynamic-nav-item: transparent;
  --dynamic-nav-item-hovered: #091e420f;
  --dynamic-nav-item-pressed: #091e4224;
  --dynamic-icon: #42526e;
  --dynamic-text: #172b4d;
  --dynamic-text-transparent: hsla(218, 54%, 19.6%, 0.16);
  --board-header-background-color: #ffffff3d;
}

//shadow
$group-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px;
$task-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
$shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
$login-card-shadow: rgba(0, 0, 0, 0.1) rem(0px) rem(0px) rem(10px);
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//widths
$group-width: rem(272px);
$task-width: rem(256px);

// height
$board-header-height: rem(48px);
