// Colors
$color-txt-primary: #172b4d;
$group-background: #f1f2f4;
$task-background: #ffffff;
$input-background: #ffffff;
$border-focused: #388bff;
$background-neutral-hovered: #091e4224;
$background-neutral-pressed: #091e424f;
$background-neutral: #091e420f;
$clr1: #000000;
$clr2: #6e5dc6;
$clr3: #0c66e4;
$clr4: #172b4d;
$clr5: #e9f2ff;
$clr6: #f5cd47;
$clr7: #fff3eb;
$clr8: #ffffff;
$clr9: #44546f;
$clr10: #626f86;
$clr11: #000000, opacity 0%;
$clr12: #000000, opacity 64%;
$clr13: #ffffff, opacity 20%;
$clr14: #091e42, opacity 6%;
$clr15: #091e42, opacity 14%;
$clr16: #dadde2;
$clr17: #e2b203;
$clr18: #0000003d;

//shadow
$group-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px;
$task-shadow: 0px 1px 1px #091e4240;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
