// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//widths
$group-width: rem(272px);
$task-width: rem(256px);
$sidebar-width: rem(260px);

// height
$board-header-height: rem(48px);

:root {
  // Dynamic colors
  --dynamic-background: "";
  --dynamic-background-transparent: "";

  --background-color: rgba(255, 255, 255, 0.2);
  --ds-background-accent-blue-subtle: #579dff;
  --ds-background-accent-blue-subtle-hovered: #85b8ff;
  --ds-background-accent-blue-subtle-pressed: #cce0ff;
  --ds-background-accent-gray-subtlest: #f1f2f4;
  --ds-background-accent-gray-subtlest-hovered: #dcdfe4;
  --ds-background-accent-gray-subtlest-pressed: #b3b9c4;
  --ds-background-accent-gray-subtler: #dcdfe4;
  --ds-background-accent-gray-subtler-hovered: #b3b9c4;
  --ds-background-accent-gray-subtler-pressed: #8590a2;
  --ds-background-accent-gray-subtle: #8590a2;
  --ds-background-accent-gray-subtle-hovered: #b3b9c4;
  --ds-background-accent-gray-subtle-pressed: #dcdfe4;
  --ds-background-accent-gray-bolder: #626f86;
  --ds-background-accent-gray-bolder-hovered: #44546f;
  --ds-background-accent-gray-bolder-pressed: #2c3e5d;
  --ds-background-accent-green-bolder: #1f845a;
  --ds-background-accent-green-subtle: #4bce97;
  --ds-background-accent-red-subtler: #ffd5d2;
  --ds-background-accent-red-subtler-hovered: #fd9891;
  --ds-background-accent-red-subtler-pressed: #f87168;
  --ds-background-brand-bold: #0c66e4;
  --ds-background-brand-bold-hovered: #0055cc;
  --ds-background-brand-bold-pressed: #09326c;
  --ds-background-danger: #ffeceb;
  --ds-background-danger-hovered: #ffd5d2;
  --ds-background-danger-pressed: #fd9891;
  --ds-background-danger-bold: #c9372c;
  --ds-background-danger-bold-hovered: #ae2e24;
  --ds-background-danger-bold-pressed: #5d1f1a;
  --ds-background-disabled: #091e4208;
  --ds-background-input: #ffffff;
  --ds-background-input-hovered: #f7f8f9;
  --ds-background-input-pressed: #ffffff;
  --ds-background-inverse-subtle-hovered: #0000003d;
  --ds-background-neutral: #091e420f;
  --ds-background-neutral-hovered: #091e4224;
  --ds-background-neutral-pressed: #091e424f;
  --ds-background-neutral-solid: #d4d8dd;
  --ds-background-neutral-subtle: #00000000;
  --ds-background-neutral-subtle-hovered: #091e420f;
  --ds-background-neutral-subtle-pressed: #091e4224;
  --ds-background-selected: #e9f2ff;
  --ds-background-selected-bold: #0c66e4;
  --ds-background-selected-bold-hovered: #0055cc;
  --ds-background-selected-bold-pressed: #09326c;
  --ds-background-success-bold: #1f845a;
  --ds-background-success-bold-hovered: #216e4e;
  --ds-background-success-bold-pressed: #164b35;
  --ds-background-warning-bold: #f5cd47;
  --ds-background-warning-bold-hovered: #e2b203;
  --ds-background-warning-bold-pressed: #cf9f02;

  --ds-border: #091e4224;
  --ds-border-brand: #0c66e4;
  --ds-border-disabled: #091e420f;
  --ds-border-focused: #388bff;
  --ds-border-input: #8590a2;
  --ds-border-inverse: #ffffff;
  --ds-border-selected: #0c66e4;

  --ds-icon: #44546f;
  --ds-icon-accent-red: #c9372c;
  --ds-icon-brand: #0c66e4;
  --ds-icon-inverse: #ffffff;
  --ds-icon-selected: #0c66e4;

  --ds-shadow-overflow: 0px 0px 8px #091e4229, 0px 0px 1px #091e421f;
  --ds-shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  --ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

  --ds-surface: #ffffff;
  --ds-surface-hovered: #f1f2f4;
  --ds-surface-pressed: #dcdfe4;
  --ds-surface-overlay: #ffffff;
  --ds-surface-overlay-hovered: #f1f2f4;
  --ds-surface-overlay-pressed: #dcdfe4;
  --ds-surface-raised: #ffffff;
  --ds-surface-raised-hovered: #f1f2f4;
  --ds-surface-raised-pressed: #dcdfe4;
  --ds-surface-sunken: #f7f8f9;

  --ds-text: #172b4d;
  --ds-text-accent-gray: #44546f;
  --ds-text-accent-gray-bolder: #091e42;
  --ds-text-accent-red: #ae2e24;
  --ds-text-brand: #0c66e4;
  --ds-text-danger: #ae2e24;
  --ds-text-disabled: #091e424f;
  --ds-text-inverse: #ffffff;
  --ds-text-selected: #0c66e4;
  --ds-text-subtle: #44546f;
  --ds-text-subtlest: #626f86;

  --tr-background-list: #f1f2f4;
  --tr-icon-star: #e2b203;

  --create-menu-button-background: rgba(255, 255, 255, 0.2);
  --create-menu-button-background-hovered: rgba(255, 255, 255, 0.3);
  --create-menu-button-background-active: rgba(255, 255, 255, 0.3);
  --create-menu-button-background-active-hovered: var(
    --create-menu-button-background-active
  );
}

[data-theme="light"] {
  --dynamic-button: transparent;
  --dynamic-button-hovered: #a6c5e229;
  --dynamic-button-pressed: #bfdbf847;
  --dynamic-button-highlighted: #dcdfe4;
  --dynamic-button-highlighted-text: #172b4d;
  --dynamic-button-highlighted-hovered: #ffffff;
  --dynamic-nav-item: transparent;
  --dynamic-nav-item-hovered: #a1bdd914;
  --dynamic-nav-item-pressed: #a6c5e229;
  --dynamic-nav-button-background-color-pressed: hsla(0, 0%, 100%, 0.3);
  --dynamic-icon: #ffffff;
  --dynamic-text: #ffffff;
  --dynamic-text-transparent: hsla(0, 0%, 100%, 0.16);
  --board-header-background-color: #0000003d;
  --logo-filter: none;
}

[data-theme="dark"] {
  --dynamic-button: transparent;
  --dynamic-button-hovered: #091e4224;
  --dynamic-button-pressed: #091e424f;
  --dynamic-button-highlighted: rgba(0, 0, 0, 0.5);
  --dynamic-button-highlighted-text: #ffffff;
  --dynamic-button-highlighted-hovered: rgba(0, 0, 0, 0.6);
  --dynamic-nav-item: transparent;
  --dynamic-nav-item-hovered: #091e420f;
  --dynamic-nav-item-pressed: #091e4224;
  --dynamic-nav-button-background-color-pressed: hsla(0, 0%, 0%, 0.16);
  --dynamic-icon: #42526e;
  --dynamic-text: #172b4d;
  --dynamic-text-transparent: hsla(218, 54%, 19.6%, 0.16);
  --board-header-background-color: #ffffff3d;
  --logo-filter: brightness(0) saturate(100%) invert(30%) sepia(53%)
    saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);
}
