.task-preview {
  background-color: $task-background;
  border-radius: rem(8px);
  box-shadow: $task-shadow;
  color: $color-txt-primary;
  min-height: rem(36px);
  width: 100%;
  display: block;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(20px);
  position: relative;
  cursor: pointer;

  &:hover {
    outline-color: $border-focused;
    outline-color: -webkit-focus-ring-color;
    outline-style: solid;
    outline-width: rem(2px);
  }

  &:hover .task-edit-btn {
    display: block;
  }

  &.full-cover {
    min-height: rem(56px);
    display: flex;
    align-items: flex-end;

    .task-labels,
    .task-preview-footer {
      display: none;
    }

    .task-preview-main {
      width: 100%;
      position: relative;

      .task-title {
        font-size: rem(16px);
        line-height: rem(20px);
        font-weight: 500;
      }
    }

    &.full-cover-img {
      .task-preview-main {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.5) 0%,
          #ffffff 100%
        );

        &::before {
          content: "";
          height: 32px;
          width: 100%;
          position: absolute;
          top: -32px;
          left: 0;
          right: 0;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 100%
          );
          mix-blend-mode: normal;
        }
      }
    }
  }

  .semi-cover {
    min-height: rem(36px);
  }

  .task-preview-main {
    display: grid;
    row-gap: rem(4px);
    padding: rem(8px) rem(12px);
  }
  .task-members {
    display: flex;
    gap: rem(4px);
    float: right;

    .task-member {
      width: rem(24px);
      height: rem(24px);
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 100%;
    }
  }

  .task-edit-btn {
    display: none;
    position: absolute;
    top: rem(2px);
    right: rem(2px);
    background-color: $task-background;

    &:hover {
      background-color: $group-background;
    }
  }

  .task-actions-badges {
    flex-wrap: wrap;
    float: left;
    column-gap: rem(4px);
    max-width: 100%;

    .action-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: rem(3px);
      padding: rem(2px);
      margin-bottom: rem(4px);
      width: -moz-fit-content;
      width: fit-content;
      max-width: 100%;
      height: rem(24px);
      color: $color-text-subtle;
      font-size: rem(12px);
      box-sizing: border-box;
    }

    .action-badge > span {
      padding-right: rem(4px);
      padding-left: rem(2px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .dueDate-badge:hover {
      filter: saturate(85%) brightness(85%);
    }

    .dueDate-badge.due-soon {
      background-color: $bg-warning;
    }

    .dueDate-badge.recently-overdue {
      background-color: $bg-danger;
      color: white;
    }

    .dueDate-badge.past-overdue {
      background-color: $bg-accent-red;
      color: $txt-accent-red;
    }

    .dueDate-badge.complete,
    .action-badge.complete {
      background-color: $bg-success;
      color: white;
    }

    .dueDate-badge {
      .icon-checkbox {
        display: none;
      }
      &:hover .icon-clock {
        display: none;
      }
      &:hover .icon-checkbox {
        display: block;
      }
    }
  }

  .task-labels {
    display: flex;
    flex-wrap: wrap;
    gap: rem(4px);
  }

  .task-labels .task-label {
    min-height: rem(8px);
    transition: 0.1s ease-in, height 0.1s ease-in 0.15s;
    display: inline-block;
    border-radius: rem(4px);
    line-height: rem(16px);
    font-size: rem(12px);
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.expand {
      min-width: rem(56px);
      max-width: 100%;
      height: rem(16px);
      padding: 0 rem(8px);
    }
    &.collapsed {
      min-width: rem(40px);
      max-width: rem(40px);
      height: rem(8px);
      color: transparent;
    }
  }
}
