.task-list {
  gap: rem(8px);
  flex: 1 1 auto;
  margin: 0 rem(4px);
  padding: rem(2px) rem(4px);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  // z-index: 1;
  scrollbar-color: $background-neutral-hovered $group-background;
  scrollbar-width: thin;

  li {
    &.dragging {
      z-index: 60000 !important;
    }
    &.dragging .task-preview {
      transform: rotate(5deg);
      opacity: 0.5;
    }
  }
}
